<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Quiz Page</title>
</head>
<body>
<form method='POST', action="{% url 'get_question' quiz.slug %}">
{% csrf_token %}
{% for question in question_list %}
    {{question}}<br>
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}">
            <label>{{ choice.choice_text }}</label><br>
        {% endfor %}
{% endfor %}
<input type="submit" value="Submit">
</form>
</body>
</html>

